<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body style="text-align: center">
  <p>群发素材页面</p>
  <form method="POST" action="/mass/sendMass.html" enctype="multipart/form-data">
      <input type="file" name="file" /><br/><br/>
      <input type="submit" value="Submit" />
  </form>
  <p style="text-indent: 2em; text-align: left;">
      <span style="text-indent: 32px;">据官方公告称，</span>
      这个企划的中止是因为当初预定的制作准备和工作人员无法得到确保，所以动画的质量和日程都很难保证。
      <span style="text-indent: 2em;">并对一直抱有期待的粉丝和相关的各位人士表示了抱歉。</span>
	  <section style="text-align: center;color: mediumblue;"><span>本消息内容来源于《动漫之家 https://news.dmzj.com》</span></section>
</body>
</html>